# Rules: https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md
# or you can see: $ swiftformat --options

# File Options

# --exclude $dir1, $dir2, $file1

# Options

--acronyms # Acronyms to auto-capitalize. Defaults to "ID,URL,UUID".
--importgrouping testable-top
--indent 4
--ranges no-space
--self remove
--swiftversion 5.7
--trimwhitespace always

# Rules

--enable blankLineAfterImports,\ # Insert blank line after import statements.
         blankLinesBetweenImports,\ # Remove blank lines between import statements.
         isEmpty # Prefer isEmpty over comparing count against zero.
